<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper</title>
    <link rel="stylesheet" href="/static/styles.css">


    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff"/>

<body>
    <div class="container">
        <div class="card">
            <h1 class="title">Upload URL CSV</h1>
            <p>The .csv file should contain a list of URLs in one column with no header<br></p>
            <p>‎ </p>
            <form enctype="multipart/form-data" action="/upload" method="post" onsubmit="uploadFile(event)">
                <input type="file" name="file" accept=".csv" class="file-input">
                <input type="submit" value="Upload CSV" class="upload-button">
            </form>
            <div id="progress" class="progress">
                <div id="bar" class="progress-bar">0%</div>
            </div>
            <div id="status" class="status"></div>
            <div id="download-link" class="download-link"></div>
        </div>
    </div>

    <script>
        function uploadFile(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            let protocol = 'ws://';
            if (window.location.protocol === 'https:') {
                protocol = 'wss://';
            }

            const ws = new WebSocket(`${protocol}${window.location.host}/upload`);

            ws.onopen = () => {
                const file = formData.get("file");
                const reader = new FileReader();

                reader.onload = (e) => {
                    const arrayBuffer = e.target.result;
                    ws.send(arrayBuffer);
                };

                reader.readAsArrayBuffer(file);
            };

            ws.onmessage = (event) => {
                const message = event.data;
                const statusDiv = document.getElementById('status');
                
                if (message.startsWith("Processing: ")) {
                    const url = message.replace("Processing: ", "");
                    const urlParts = new URL(url);
                    statusDiv.innerHTML = `
                        <div class="url-domain">${urlParts.origin}</div>
                        <div class="url-path">${urlParts.pathname}</div>
                    `;
                } else {
                    statusDiv.innerText = message;
                }

                if (message.startsWith("Progress: ")) {
                    const progress = message.replace("Progress: ", "");
                    const bar = document.getElementById('bar');
                    bar.style.width = progress;
                    bar.innerText = progress;
                }

                if (message.startsWith("Download link: ")) {
                    const link = message.replace("Download link: ", "");
                    const downloadDiv = document.getElementById('download-link');
                    downloadDiv.innerHTML = `<a href="${link}" download="output.csv" class="download-button">Download Processed CSV</a>`;
                }
            };

            ws.onclose = () => {
                console.log('WebSocket connection closed');
            };

            ws.onerror = (error) => {
                console.error('WebSocket error: ', error);
            };
        }
    </script>
</body>
</html>
